<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.imikimi.yet-another-cordova-parse-bridge"
        version="0.0.1">

  <name>Hello</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/hello.js" target="js/hello.js"/>

  <js-module src="www/hello.js" name="hello">
    <clobbers target="hello" />
  </js-module>

  <platform name="ios">

    <config-file target="config.xml" parent="/widget">
      <feature name="Hello">
        <param name="ios-package" value="HWPHello" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPHello.h" target-dir="HelloPlugin"/>
    <source-file src="src/ios/HWPHello.m" target-dir="HelloPlugin"/>

    <framework src="AudioToolbox.framework" />
    <framework src="CFNetwork.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="CoreLocation.framework" />
    <framework src="QuartzCore.framework" />
    <framework src="Security.framework" />
    <framework src="StoreKit.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="libz.dylib" />
    <framework src="libsqlite3.dylib " />

    <framework src="Accounts.framework" />
    <framework src="Social.framework" />

    <framework src="src/ios/frameworks-current/parse/Bolts.framework" custom="true" />
    <framework src="src/ios/frameworks-current/parse/Parse.framework" custom="true" />
    <framework src="src/ios/frameworks-current/parse/ParseCrashReporting.framework" custom="true" />

  </platform>

</plugin>
